<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.oneonetwoone.yass"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <intent-filet>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
    </intent-filet>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:screenOrientation="sensorLandscape"
            android:name=".YassActivity"
            android:label="@string/title_activity_yass"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>